<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>
    <title>Inicio de sesion</title>
    <body class="slide-in-right">
        <div *ngIf="this.cargando == true" class="background-loading">
            <div  class="loading">
                <app-loading ></app-loading>
            </div>
       </div> 
       
        <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image:url(assets/images/background-login.jpg)"></div>
        <div class="contents order-2 order-md-1">
        <div class="container">
        <div class="row align-items-center justify-content-center">
        <div class="col-md-7">

        <h3>Iniciar sesion</h3>
        <p class="mb-4">Bienvenido a tu clinica online.</p>

        <form>
        <div class="form-group first">
            <label for="username">Correo electronico</label>
            <input type="email" class="form-control" placeholder="ejemplo@gmail.com" id="email" [(ngModel)]="this.email" autocomplete="email" name="email">
            
            <br>

            <label for="password">Contraseña</label>
            <input type="password" class="form-control" placeholder="Tu contraseña" id="password" [(ngModel)]="this.password" autocomplete="new-password" name="password">

        </div>
        
        <div class="botones-acesso-rapido">
            
            <input type="image" value="Paciente 3" (click)="this.SetEmailPassword('eggaxlotckgariacqx@tmmcv.net', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2FpacienteHombre.png?alt=media&token=6c9bcced-8ade-4289-943b-1cff0a9c6e3b">
            <input type="image" value="Paciente 1" (click)="this.SetEmailPassword('radaqfankdpbbgorwd@tmmbt.com', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2FpacienteMujer.png?alt=media&token=1c8e8198-2c27-4b7c-a749-fc3af3cee055">
            <input type="image" value="Paciente 2" (click)="this.SetEmailPassword('octavio_bill@hotmail.com', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2FpacienteHombre2.png?alt=media&token=a27e2dc9-649e-4b3f-85ac-f6407c5eb40b">

            <input type="image" value="Especialista 2" (click)="this.SetEmailPassword('cgpyhjzsosywdfwptk@tmmbt.net', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2Fdoctor.png?alt=media&token=0fcd4407-a7a4-4da3-ab0f-c859ca280159">
            <input type="image" value="Especialista 1" (click)="this.SetEmailPassword('egzpsqjgsybcvulrny@tmmwj.net', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2Fdoctora.png?alt=media&token=b90a1c2a-60e6-4c82-9415-d5807fe5084d">
            <input type="image" value="Administrador" (click)="this.SetEmailPassword('octaviobzk123@gmail.com', '123456')" style="height: 64px; width:64px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-c4792.appspot.com/o/images%2Fadministrador.png?alt=media&token=87aba5f1-b50b-4bf3-9576-cddd21572546">
        </div>

        <br>
        
        <input type="button" value="Iniciar sesion" class="btn btn-block btn-primary" (click)="this.IniciarSesion()">
        <input type="button" value="Registrarme" class="btn btn-block btn-primary" [routerLink]="['/login/registro']">
        <br><br>
        
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
    </body>
</html>
