<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis turnos</title>
</head>
<body>
    <div class="cuerpo">
        <p>Aca se muestran todos los turnos</p>
        <ng-container *ngIf="this.UsuarioService.usuario.obraSocial">
            <input type="button" value="Nuevo turno">
            
            <table>
                <tr>
                    <th>Especialista</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>

                <ng-container *ngFor="let turno of this.turnosServicios.turnos">
                    <tr *ngIf="turno.paciente.id == this.UsuarioService.usuario.id">
                        <td>{{turno.especialista.GetNombre() + ' ' + turno.especialista.GetApellido()}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.fecha}} {{turno.hora}}</td>
                        <td>{{turno.estadoTurno}}</td>
                        <td *ngIf="turno.estadoTurno != 'realizado' && turno.estadoTurno != 'cancelado'"><input type="button" value="Cancelar turno" (click)="this.SetComentarioResenia('comentario', 'cancelado')"></td>
                        <td *ngIf="turno.comentario != '' || turno.resenia != '' "><input type="button" value="Ver reseña/comentario" (click)="this.SetComentarioResenia('verReseniaComentario', this.turno.estadoTurno)"></td>
                        <td *ngIf="turno.estadoTurno == 'realizado' && turno.resenia != '' "><input type="button" value="Completar encuesta"></td>
                        <td *ngIf="turno.estadoTurno == 'realizado'"><input type="button" value="Calificar atencion" (click)="this.SetComentarioResenia('comentario', this.turno.estadoTurno)"></td>
                        <app-comentario-resenia *ngIf="this.volver == true" [turno]="turno" [opcion]="this.opcion" (eventoSalir)="this.EventoVolver($event, turno)"></app-comentario-resenia>
                    </tr>
                </ng-container>
            </table>
        
        </ng-container>

        <ng-container *ngIf="this.UsuarioService.usuario.validado == true">
            <table>
                <tr>
                    <th>Paciente</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>

                <ng-container *ngFor="let turno of this.turnosServicios.turnos">
                    <tr *ngIf="turno.especialista.id == this.UsuarioService.usuario.id">
                        <td>{{turno.paciente.GetNombre() + ' ' + turno.paciente.GetApellido()}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.fecha}}</td>
                        <td>{{turno.estadoTurno}}</td>
                        <td *ngIf="turno.estadoTurno != 'realizado' && turno.estadoTurno != 'aceptado' && turno.estadoTurno != 'rechazado'"><input type="button" value="Cancelar turno" (click)="this.SetComentarioResenia('comentario', 'cancelado')"></td>
                        <td *ngIf="turno.estadoTurno != 'realizado' && turno.estadoTurno != 'aceptado' && turno.estadoTurno != 'cancelado'"><input type="button" value="Rechazar turno" (click)="this.SetComentarioResenia('comentario', 'rechazado')"></td>
                        <td *ngIf="turno.estadoTurno != 'realizado' && turno.estadoTurno != 'cancelado' && turno.estadoTurno != 'rechazado'"><input type="button" value="Aceptar turno" (click)="this.CambiarEstado(turno, 'aceptado')"></td>
                        <td *ngIf="turno.estadoTurno == 'aceptado'"><input type="button" value="Finalizar turno" (click)="this.SetComentarioResenia('resenia', 'realizado')"></td>
                        <td *ngIf="turno.comentario != '' || turno.resenia != ''"><input type="button" value="Ver reseña" (click)="this.SetComentarioResenia('verReseniaComentario', this.turno.estadoTurno)"></td>
                        <app-comentario-resenia *ngIf="this.volver == true" [turno]="turno" [opcion]="this.opcion" (eventoSalir)="this.EventoVolver($event, turno)"></app-comentario-resenia>
                    </tr>
                </ng-container>
            </table>
        </ng-container>

    </div>
</body>
</html>
