<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
    </head>

    <body>

        <div *ngIf="this.usuarioService.usuario != null">
            <app-dashboard (index)="this.AsignarIndex($event)"></app-dashboard>

            <div *ngIf="this.opcionHome == 'inicio'">
            </div>
    
            <div *ngIf="this.opcionHome == 'alta-turno'">
                <app-alta-turno></app-alta-turno>
            </div>

            <div *ngIf="this.opcionHome == 'mis-turnos'">
                <app-mis-turnos></app-mis-turnos>
            </div>

            <div *ngIf="this.opcionHome == 'perfil'">
                <app-perfil></app-perfil>
            </div>
    
            <div *ngIf="this.opcionHome == 'turnos'">
                <app-turnos></app-turnos>
            </div>

            <div *ngIf="this.opcionHome == 'validar-cuentas'">
                <app-validar-cuenta></app-validar-cuenta>
            </div>

        </div>



    </body>

</html>

