<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis turnos</title>
</head>
<body>
    <div class="cuerpo">
        <label>Filtros: </label>

        <select id="filtroEspecialista" name="filtroEspecialista" (change)="this.CambiarValor($event, 'especialista')">
            <option *ngFor="let valor of this.arrayEspecialistas">{{valor}}</option>
        </select>

        <select id="filtroPaciente" name="filtroPaciente" (change)="this.CambiarValor($event, 'paciente')">
            <option *ngFor="let valor of this.arrayPaciente">{{valor}}</option>
        </select>

        <select id="filtroEspecialidad" name="filtroEspecialidad" (change)="this.CambiarValor($event, 'especialidad')">
            <option *ngFor="let valor of this.arrayEspecialidades">{{valor}}</option>
        </select>

        <select id="filtroFecha"  name="filtroFecha" (change)="this.CambiarValor($event, 'fecha')">
            <option *ngFor="let valor of this.arrayFechas">{{valor}}</option>
        </select>

        <select id="filtroEstado" name="filtroEstado" (change)="this.CambiarValor($event, 'estado')">
            <option *ngFor="let valor of this.arrayEstadoTurno">{{valor}}</option>
        </select>
        
        <input type="button" value="Resetar filtro" (click)="this.filtro = ''">

            <table>
                <tr>
                    <th>Foto del especialista</th>
                    <th>Especialista</th>
                    <th>Foto del paciente</th>
                    <th>Paciente</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>

                <ng-container *ngFor="let turno of (this.turnosServicios.turnos | pipeEspecialidad: this.filtro)">
                    <tr>
                        <td><img [src]="turno.especialista.img"></td>
                        <td>{{turno.especialista.nombre + ' ' + turno.especialista.apellido}}</td>
                        <td><img [src]="turno.paciente.img"></td>
                        <td>{{turno.paciente.nombre + ' ' + turno.paciente.apellido}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.fecha + ' ' + turno.hora + ' hs'}}</td>
                        <td>{{turno.estadoTurno}}</td>
                        <td *ngIf="turno.estadoTurno != 'realizado' && turno.estadoTurno != 'aceptado' && turno.estadoTurno != 'cancelado'"><input type="button" value="Cancelar turno" (click)="this.SetearTurno(turno)"></td>
                    </tr>
                </ng-container>

                <app-comentario-resenia *ngIf="this.cancelado == true" [turno]="this.turnoSeleccionado" [opcion]="'comentario'" (eventoSalir)="this.EventoVolver($event)"></app-comentario-resenia>


               
            </table>
    </div>
</body>
</html>
